Añadir comentario: <p>
<br/>
<form method="post" action="/quizes/<%= quizId%>/comments/">
	<input type="text" id="comment" name="comment[texto]" value="Comentario"/><p><br/>
	<button id="b2" type="submit">Enviar</button>
</form>
