body{
	background: #999;
}

#page-wrap:after{
	content: "Wide Layout";
}

nav{
	float: left;
	margin-right:0.5%;
	width: 21.5%;
	padding: 1%;
	
}

nav span{
        margin: 0 auto;
        text-align: center;

}

#navsect {
        overflow: hidden;
	
	
}

nav form input{
	margin: 0 auto;
	width:55%;
}

td{
   	padding:3px
}

section{
	float: left;
	width: 74%;
 	padding: 1%;
}

footer{
	clear:both;
	display: block;
	margin-top:0.5%;
	padding: 10px;
}	


