<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %><p><br>
  <input id="et2" type="text" placeholder="Responda aquí" name="respuesta">
  <input id="b2" type="submit" value="Enviar">
</form>
